$AppBgColor : rgb(255, 255, 255);
$AppFont : Arial, Helvetica, sans-serif;
$AppFontSize : 10px;

html {
    font-size: $AppFontSize;
    height: 100vh;
}

::-webkit-scrollbar { 
    display: none; 
}

.app {
    background-color: $AppBgColor;
    font-family: $AppFont;
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;

    .clientForm {
        width: 20vw;
    }
    .clientFullInfoContainer {
        width: 80vw;
    }
}



