$ClientItemBgColor: #DCDCDC;

.clientFullInfoContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .onPageReady {
        background-color: $ClientItemBgColor;
    }
}

.clientInfo {
    display: flex;
    width:80%;
    .photoCard {
        width:50vh;
        height: 50vh;
        img {
            border-radius: 50%;
            width:100%;
        }
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10vw;
    }
}

.card {
    h1 {
        font-size: 4vh;
        color: grey;
        margin: 2vh 0;
    }
    div {
        margin: 1vh 0;
        font-size: 2vh;
    }
}

.onPageReady {
    div {
        padding: 10vw 1vw;
        font-size: 5vw;
    }
}