$ClientListBgColor: white;
$ClientItemBgColor: #DCDCDC;
$SeparetorColor : #D3D3D3;

.clientForm {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    .searchComponent {
        display: flex;
        width : 80%;
        margin : 30px 0;
        padding: 5px;
    }
    .clientList {
        height: 90vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow-y: auto;
        width: 100%;
    }
}

.clientList {
    .clientItem {
        min-height: 18vh;
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-around;
        width: 100%;
        background-color:$ClientItemBgColor;
        border-bottom: 2px solid $SeparetorColor;
    }
    .warning {
        font-size: 2vh;
        padding: 1vh;
        font-weight: bold;
        text-align: center;
    }
}

.clientItem {
    .img {
        min-height: 10vh;
        width: 10vh;
        img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }
    }
    div {
        font-size: 3vh;
        text-align: center;
    }
}

.searchComponent {
    input {
        outline: none;
        font-size: 3vh;
        width: 100%;
        cursor: pointer;
        height: 10vh;
        border: none;
    }
}

.clickedClient {
    background-color: white !important;
}

